*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

button{
    padding:0.5rem 0.7rem;
}

ul{
    list-style-type: none;
}

.color-grey{
    color: gray;
}

.color-blu{
    color: #006AFF;
}

.bg-blu{
    background-color: #B4D0E7;
}

.align-center{
    text-align: center;
}

.border-grey{
    border: 1px solid grey;
}

div.container-small{
    width: 60%;
    margin: 0 auto;
}

div.container-large{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

header{
    padding: 2px;
}

header a{
    color: black;
    text-decoration: none;
}
header>nav{
    justify-content: space-between;
}

header li{
    margin: auto;
    padding: 0.2rem 0.6rem;
}

section{
    margin-bottom: 60px;
}

section.jumbotrone{
    margin-bottom: 100px;
}

section.jumbotrone .container-large>h1{
    font-size: 4rem;
}

section.jumbotrone .jumbo-text{
    flex-direction: column;
    float: left;
    width: calc(100% / 3);
    padding-top: 4rem;
}

section.jumbotrone .jumbo-text>*{
    padding-bottom: 1rem;;
}

section.jumbotrone .jumbo-img{
    float: left;
    width: calc(100% / 3 * 2);
}

section.jumbotrone .jumbo-img>img{
    width: 100%;
    position: relative;
    bottom: -4rem;;
}

section.jumbotrone .arrow{
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    font-size: 2rem;
}

div.container-small{
    width: 60%;
    margin: 0 auto;
}

div.business-plan h2,
div.business-plan>.container-small:nth-child(2){
    padding: 2rem;
}

section.business-plan .plan{
    width: calc(100% / 3 - 2%);
    margin:1%;
    padding: 0.2rem;
    border: 1px solid grey;
}
/* 109 e/ 118 da rivedere */
div.plan>:first-child{
    text-align: center;
    padding: 0.4rem;
}

div.plan>.name-plan,
div.name-plan>*{
    padding: 0.4rem;
}

div.plan li{
    padding: 0.7rem
}

div.plan i {
    padding-right: 0.5rem;
}

div.rattoppo>*{
    padding: 0.3rem 0.6rem;
    display: block;
}
div.plan-large{
    width: 100%;
    margin:1%
}

div.plane-large .sales-office-dx{
    width: calc(100% / 3 );
    margin: 1%;
}

div.sales-office-sx>*{
    padding: 0.3rem;
}

div.plan-large .sales-office-sx{
    width: calc(100% / 3 * 2 );
    margin: 1%;
}

div.img-partner{
    width: 60%;
}

div.img-partner>img{
    width: 100%;
}

div.text-partner{
    width: 40%;
    padding: 4rem 3rem;
}

div.text-partner>*{
    padding: 0.5rem;
}


.bg-yellow{
    background-color: yellow;
    border: 1px solid magenta;
}
/* sezione esegui operazioni */

div.img-operation{
    height: 220px;
}

div.img-operation>img{
  width: 100%;}

section.operation h3,
section.operation p{
    padding: 0rem 0.5rem 1rem
}

/* sezioni blocchi colorati */
section.colored-boxs .column-33:nth-child(2){
    padding: 1rem 0.5rem 10rem;
}

section.colored-boxs .column-33>img{
    height: 5rem;
}

.svg-small{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%,-50%);
    filter: invert(100%);
    object-fit: contain;
}

div.prova-gratis{
    justify-content: space-around;
    padding: 2rem 0;
}

/* sezione domande */

div.request{
    border-bottom: 1px solid grey;
    padding: 1.5rem 0;
    position: relative;
}

div.request>i{
    position: absolute;
    right: 20px;


}

div.column-33{
    width: calc(100% / 3);
    padding: 2px;
    
}

div.column-50{
    width: 50%;
    background-color: blue;
    position: relative;
}

footer{
    background-color: black;
    height: 300px;
    padding-top:20px; ;
}










