*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

button{
    padding:0.5rem 0.7rem;
}

ul{
    border: 2px solid gold;
    list-style-type: none;
}

header{
    border: 2px solid red;
    padding: 2px;
}

header>nav{
    border: 2px solid green;
    justify-content: space-between;
}

header li{
    margin: auto;
    padding: 0.2rem 0.4rem;
}

section.jumbotrone{
    background-color: #B4D0E7;
    margin-bottom: 100px;
}

section.jumbotrone>.container-large{
    width: 70%;
    margin: 0 auto;
    border: 2px solid green;
    position: relative;
}

section.jumbotrone .container-large>h1{
    font-size: 4rem;
}

section.jumbotrone .jumbo-text{
    flex-direction: column;
    float: left;
    width: calc(100% / 3);
    border: 2px solid magenta;
    padding-top: 4rem;
}

section.jumbotrone .jumbo-text>*{
    padding-bottom: 1rem;;
}

section.jumbotrone .jumbo-img{
    float: left;
    width: calc(100% / 3 * 2);
    border: 2px solid aqua;
}

section.jumbotrone .jumbo-img>img{
    width: 100%;
    position: relative;
    bottom: -4rem;;
}

section.jumbotrone .arrow{
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    font-size: 2rem;
}

section.business-plan>.container-small{
    width: 60%;
    margin: 0 auto;
    height: 500px;
    border: 2px solid red;
}

section.business-plan .plan{
    width: calc(100% / 3);
    border: 2px solid gold;
    height: 300px;
    margin: 1%;
}






