*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

button{
    padding:0.5rem 0.7rem;
}

ul{
    list-style-type: none;
}

.color-grey{
    color: gray;
}

.color-blu{
    color: #006AFF;
}

.align-center{
    text-align: center;
}

.border-grey{
    border: 1px solid grey;
}

div.container-small{
    width: 60%;
    margin: 0 auto;
}

header{
    padding: 2px;
}

header>nav{
    justify-content: space-between;
}

header li{
    margin: auto;
    padding: 0.2rem 0.4rem;
}

section{
    margin-bottom: 100px;
}

section.jumbotrone{
    background-color: #B4D0E7;
}

section.jumbotrone>.container-large{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

section.jumbotrone .container-large>h1{
    font-size: 4rem;
}

section.jumbotrone .jumbo-text{
    flex-direction: column;
    float: left;
    width: calc(100% / 3);
    padding-top: 4rem;
}

section.jumbotrone .jumbo-text>*{
    padding-bottom: 1rem;;
}

section.jumbotrone .jumbo-img{
    float: left;
    width: calc(100% / 3 * 2);
}

section.jumbotrone .jumbo-img>img{
    width: 100%;
    position: relative;
    bottom: -4rem;;
}

section.jumbotrone .arrow{
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    font-size: 2rem;
}

div.container-small{
    width: 60%;
    margin: 0 auto;
}

section.business-plan .plan{
    width: calc(100% / 3);
    margin: 1%;
    padding: 0.2rem;
    border: 1px solid grey;
}
/* 109 e/ 118 da rivedere */
div.plan>:first-child{
    text-align: center;
    padding: 0.4rem;
}

div.plan>.name-plan,
div.name-plan>*{
    padding: 0.4rem;
}

div.plan li{
    padding: 0.7rem
}

div.plan i {
    padding-right: 0.5rem;
}

section.sales-office .sales-office-dx{
    width: calc(100% / 3 );
    margin: 1%;
}

div.sales-office-sx>*{
    padding: 0.3rem;
}

section.sales-office .sales-office-sx{
    width: calc(100% / 3 * 2 );
    margin: 1%;
}









